.movie-catalog{
    display: flex !important;
    justify-content: center !important;
    margin-top: 5%;
    margin-bottom: 2%;

    .ant-card-cover{
        img {
            height: 350px !important;
        }
    }

    .ant-card-meta-title {
        text-align: center !important;
    }
}